# Atentos a esto:
ServerAliveInterval 15

Host *
    Compression yes
    CompressionLevel 9
    KeepAlive yes
    ControlMaster auto
    ControlPath ~/.ssh/conexion-%r@%h:%p
    # nombres en claro en el ~/.ssh/known_hosts
    HashKnownHosts no

    TCPKeepAlive yes
    #ClientAliveInterval 30
    #ClientAliveCountMax 99999

    # Las X's
    ForwardAgent yes
    ForwardX11 yes

host oficina.pic-sl.com
    Port 3222

host nas
    HostName 192.168.0.2
    HostKeyAlgorithms=+ssh-rsa

host 192.168.252.60
    Port 22
    HostkeyAlgorithms ssh-dss

host nas.intranet.pic-sl.com
    Port 22
    HostkeyAlgorithms ssh-dss

host nas
    Port 22
    HostkeyAlgorithms ssh-dss


# ---------- MASTER ---------- #
#host 87.217.30.44
host 87.219.219.205
    Port 3222

# ---------- EJEMPLO ---------- #
# Ejemplo del uso de una clave
# para una máquina concreta
#
# Host miclave.bitbucket.org
# HostName bitbucket.org
# PreferredAuthentications publickey
# IdentityFile /home/usuario/.ssh/miclave

#host sauco.org
#    Port 22000
#
#Host 213.98.30.197
#    Port 22000
#
#Host 192.168.2.121
#    Port 22000

# ------------ democraciarealya.es ------------ #
host democraciarealya.es
    Port 4321
host dev.democraciarealya.es
    Port 3222
# ------------ alpacine.com ------------ #

Host alpacine.com
    Port 2345

Host tao.pablodip.com
    Port 33666

Host 188.165.214.24
    Port 33666

Host peta.pablodip.com
    Port 22000

Host 87.98.219.77
    Port 22000

# ------------ Fundacion ------------ #
Host fundacion.alpacine.com
    Port 22

Host 91.121.221.164
    Port 22

# ------------ COFLP ------------ #
#Host principal
#    Port 22000
#
#Host desarrollo
#    Port 22000
# ------------ OOOes ------------ #
Host oooes.org
    Port 23022

